  .player-selected {
    background-color: rgba(117, 230, 117, 0.5) !important;
  }

  .warning-selected,
  .yellowCard-selected {
    background-color: rgba(255, 217, 0, 0.801) !important;
  }

  .redCard-selected,
  .disqualification-selected {
    background-color: rgba(248, 62, 62, 0.479) !important;
  }
  

  * {
    box-sizing: border-box;
  }

  .hide {
    opacity: 0;
  }

  .disqualified-p {
    color: lightgray;
    font-weight: 900;
  }

  .marked {
    background-color: #4B86DF !important; 
  }

  .warning-container, .sentoffs-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  .sentoff {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    background-color: white;
  }

  .warning {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    background-color: white;
  }

  hr {
    opacity: 0.25;
    margin: 4px 0;
  }

  /* button:hover {
    opacity: 0.75;
  } */

  .playerlist-operator-container {
    width: 45vw;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .active {
    border: 4px solid lightblue !important;
  }

  .playerlist-operator-btns {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
  }

  .playerlist-operator-btns>button {
    background-color: white;
    outline: none;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 20px;
    padding: 5px 2em;
    font-weight: 900;
    cursor: pointer;
    background-color: rgba(235, 204, 253, 0.514);
    margin-right:0.5vw;
  }

  .description-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }

  .description-p {
    margin: 0;
    opacity: 0.75;
    font-weight: 900;
    font-size: 12px;
  }

  .player-number-name {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .playerlist-operator-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  }

  .playerlist-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; */
  }

  .player {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 18px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(117, 230, 117, 0.25);
    cursor: pointer;
    align-items: center;
  }

  .sentoff-player {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 18px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 62, 62, 0.479);
    cursor: pointer;
  }

  .disqualified-player {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 18px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.479);
  }

  .player-number {
    font-weight: 900;
  }

  /* .player:hover {
    background-color: rgba(117, 230, 117, 0.5);
  } */

  .player-penalty-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  p.penalty{
    margin-bottom:0.25vh;
    font-size:80%;
  }
  .penalty>span{
    display:block;
    padding: 2vh 0.25vw;
  }

  .penalty-warning,
  .penalty-yellowCard{
    background: yellow;        
    border-radius: 5px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
  }
  .penalty-disqualification,
  .penalty-redCard{
    background: red; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;       
  }